<div class="container-fluid">
    <div class="row wrapper">
        <div class="col-md-10 content p-0">
            <div class="main-wrapper">
                <h2 class="">Создание дохода/расхода</h2>
                <div class="container p-0">
                    <form action="#" class="create-form d-flex flex-column">
                        <label for="type-input"></label>
                        <input id="type-input" type="text" placeholder="Тип...">
                        <label for="category-input"></label>
                        <input id="category-input" type="text" placeholder="Категория...">
                        <label for="amount-input"></label>
                        <input id="amount-input" type="number" placeholder="Сумма в $...">
                        <label for="date-input"></label>
                        <input id="date-input" type="text" placeholder="Дата...">
                        <label for="comment-input"></label>
                        <input id="comment-input" type="text" placeholder="Комментарий...">
                        <div class="input-actions">
                            <button id="createIncome" class="btn btn-success">Создать</button>
                            <button id="cancelIncome" class="btn btn-danger">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>