<div class="container-fluid">
  <div class="row wrapper w-100">
    <div class="content p-0">
      <div class="main-wrapper w-100">
        <h2 class="">Создание категории доходов</h2>
        <div class="container p-0">
          <form action="#" class="create-form">
            <label for="newIncome"></label>
            <input id="newIncome" type="text" placeholder="Название...">
            <div class="input-actions">
              <button id="createIncome" class="btn btn-success">Создать</button>
              <button id="cancelIncome" class="btn btn-danger">Отмена</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>