<div class="container-fluid">
    <div class="row wrapper">
        <div class="col-md-10 content p-0">
            <div class="main-wrapper">
                <h2 class="">Редактирование категории доходов</h2>
                <div class="container p-0">
                    <form action="#">
                        <label for="newIncome"></label>
                        <input id="newIncome" type="text" placeholder="Зарплата">
                        <div class="input-actions">
                            <button id="createIncome" class="btn btn-success">Сохранить</button>
                            <button id="cancelIncome" class="btn btn-danger">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>