<div class="container-fluid">
  <div class="row wrapper">
    <div class="col-md-10 content p-0">
      <div class="main-wrapper">
        <h2 class="">Расходы</h2>
        <div class="container mt-4">
          <div class="row g-3">
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm">
                <h5 class="">Еда</h5>
                <div class="d-flex mt-3">
                  <button class="btn btn-primary btn-sm">Редактировать</button>
                  <button class="btn-delete btn btn-danger btn-sm">Удалить</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm">
                <h5 class="">Жильё</h5>
                <div class="d-flex mt-3">
                  <button class="btn btn-primary btn-sm">Редактировать</button>
                  <button class=" btn-delete btn btn-danger btn-sm">Удалить</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm">
                <h5 class="">Здоровье</h5>
                <div class="d-flex mt-3">
                  <button class="btn btn-primary btn-sm">Редактировать</button>
                  <button class="btn-delete btn btn-danger btn-sm">Удалить</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm">
                <h5 class="">Кафе</h5>
                <div class="d-flex mt-3">
                  <button class="btn btn-primary btn-sm">Редактировать</button>
                  <button class="btn-delete btn btn-danger btn-sm">Удалить</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm">
                <h5 class="">Авто</h5>
                <div class="d-flex mt-3">
                  <button class="btn btn-primary btn-sm">Редактировать</button>
                  <button class="btn-delete btn btn-danger btn-sm">Удалить</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm">
                <h5 class="">Одежда</h5>
                <div class="d-flex mt-3">
                  <button class="btn btn-primary btn-sm">Редактировать</button>
                  <button class="btn-delete btn btn-danger btn-sm">Удалить</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm">
                <h5 class="">Развлечения</h5>
                <div class="d-flex mt-3">
                  <button class="btn btn-primary btn-sm">Редактировать</button>
                  <button class="btn-delete btn btn-danger btn-sm">Удалить</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm">
                <h5 class="">Счета</h5>
                <div class="d-flex mt-3">
                  <button class="btn btn-primary btn-sm">Редактировать</button>
                  <button class="btn-delete btn btn-danger btn-sm">Удалить</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm">
                <h5 class="">Спорт</h5>
                <div class="d-flex mt-3">
                  <button class="btn btn-primary btn-sm">Редактировать</button>
                  <button class="btn-delete btn btn-danger btn-sm">Удалить</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="card p-3 shadow-sm d-flex justify-content-center align-items-center">
                <button class="btn btn-lg">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dialog" class="dialog text-center">
  <div class="dialog-content">
    <p>Вы действительно хотите удалить категорию?</p>
    <div class="dialog-actions">
      <button id="confirmDelete" class="btn btn-success">Да, удалить</button>
      <button id="cancelDelete" class="btn btn-danger">Не удалять</button>
    </div>
  </div>
</div>