<div class="container-fluid d-block w-100">
    <div class="row wrapper">
        <div class="col-md-10 content p-0 w-100">
            <div class="main-wrapper w-100">
                <h2 class="mb-4">Доходы</h2>
                <div class="container w-100">
                    <div id="incomeCategoryBox" class="row g-3 mt-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog" class="dialog text-center">
    <div class="dialog-content">
        <p>Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</p>
        <div class="dialog-actions">
            <button id="confirmDelete" class="btn btn-success">Да, удалить</button>
            <button id="cancelDelete" class="btn btn-danger">Не удалять</button>
        </div>
    </div>
</div>
